@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

:root {
  --background-color: #1d1d1d;
  --main-color: #ffdd40;
  --sub-text-color: #fffff;
  --nab-background-color: #181818;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  height: 100%;
  background-color: var(--background-color);
}

#root {
  height: 100%;
}
